# Data Science Tools and Ecosystem

In this notebook is for introducing Data Scinece Tool and Ecosystem

***Objectives:*** 
* To know how to use Markdown. 
* To be able to change mode in each cell.
* To be able to run code in the cell.

Here are some of the popular languages that Data Scienctist use are :
1. python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Numpy
4. SciPy

| Data Science Tools |
|------|
| Rstudio |
| Apache Spark|
| RapidMiner|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Here is a simple arithmetic expression to mutiply then add integers.
( 3 * 4 ) + 5

17

In [2]:
# The following code will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author : Sakchai Saehoei